* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 241, 241);
    font-family: "Abel", sans-serif;
    /* overflow: hidden; */
}
/* ! nav bar */
.nav-bar {
    background-color: #03afff;
    color: black;
    width: 100%;
    min-height: 2rem;
    max-height: auto;
    padding: 0 2rem;
    font-size: 1.25rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(0);
    transition: all 0.5s linear;
}

/* TODO: add this when X is pressed */
.nav-bar-closed {
    transform: translateY(-100%);
    transition: all 0.5s linear;
}

.close-nav-btn {
    transform: scale(1);
    transition: all 0.3 linear;
}

.close-nav-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.3 linear;
}

/* ! hero country */

.main-country-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
}

.main-country {
    background-color: white;
    width: auto;
    height: 35rem;
    font-size: 1.45rem;
    font-weight: bold;
    text-align: left;
}

.main-flag {
    width: 100%;
    height: 15rem;
    /* border: 5px solid black; */
}

.main-flag img {
    width: 100%;
    height: 100%;
    /* background-size: cover !important; */
}

.main-info {
    padding: 10px 10px;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ! neighbour countries */

.neighbour-container {
    width: 100%;
    height: 17.5rem;
    margin-top: 7rem;
    display: flex;
    justify-content: center;
}

.neighbours {
    min-width: 80%;
    max-width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.neighbours > div {
    margin: 10px;
}

.neighbour-country {
    background-color: white;
    width: 15rem;
    height: 100%;
}

.neighbour-flag {
    width: 100%;
}

.neighbour-flag img {
    width: 100%;
    height: auto;
}

.neighbour-info {
    height: 50%;
    padding: 5px 5px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
