* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 241, 241);
    font-family: "Abel", sans-serif;
    /* overflow: hidden; */
}
/* ! nav bar */
.nav-bar {
    background-color: #03afff;
    color: black;
    width: 100%;
    min-height: 2rem;
    max-height: auto;
    padding: 0 2rem;
    font-size: 1.25rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(0);
    transition: all 0.5s linear;
}

/* TODO: add this when X is pressed */
.nav-bar-closed {
    transform: translateY(-100%);
    transition: all 0.5s linear;
}

.close-nav-btn {
    transform: scale(1);
    transition: all 0.3 linear;
}

.close-nav-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.3 linear;
}

/* !map section */

.map {
    /* display: none; */
    width: 100%;
    height: 100vh;
}

/* ! countires section */

.country-section {
    width: 100%;
    height: 100vh;
    /* background-color: brown; */
    /* TODO: change from "none" to "flex" */
    display: none;
    flex-direction: column;
}

.top-section {
    height: 60%;
    display: flex;
    justify-content: center;
}

/* ! hero country */

.main-country-container {
    background-color: white;
    width: 25rem;
    height: 100%;
}

.main-flag-container {
    width: 100%;
    height: 40%;
}

.main-flag {
    width: 100%;
    height: 100%;
}

main-flag img {
    width: 100%;
}

.main-info {
    /* background-color: tomato; */
    width: 100%;
    height: 60%;
    padding: 10px 10px;
    font-size: 1.25rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ! neighbour countries */

.bottom-section {
    margin-top: 2rem;
    width: 100%;
    height: auto;
    /* background-color: teal; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.neighbour-container {
    padding: 0.5rem 0.5rem;
    /* background-color: orangered; */
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-wrap: wrap;
    grid-gap: 5px;
}

/* .neighbour-container div {
    margin-top: 10px;
    margin-right: 10px;
} */

.neighbour {
    background-color: white;
    width: 15rem;
    height: 22rem;
}

.neighbour-flag-container {
    /* background-color: blue; */
    width: 100%;
    height: 30%;
}

.neighbour-flag {
    width: 100%;
    height: 100%;
}

.neighbour-info {
    font-weight: 500;
    padding: 15px 0px 10px 10px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ! reset button */

button {
    display: none;
    text-decoration: none;
    position: absolute;
    top: 50%;
    right: 2%;
    height: 100px;
    width: 100px;
    padding: 10px;
    border-radius: 50%;
    background-color: #03afff;
    border: 1px solid #03afff;
    color: black;
    font-size: 0.95rem;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.5s linear;
}

button:hover {
    transform: scale(1.1);
    transition: all 0.3s linear;
}
